{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>お客様情報管理</title>
    {% endblock %}
    {% block body%}
    {{message}}
<h1><a href="/newcustomer">お客様新規追加</a></h1>
<br>
<table>
    <tr>
        <th>お客様名</th>
        <th>編集</th>
        <th>削除</th>
    </tr>
        {% for customer in customers%}
        <tr>
            <td><a href="/gofcustomer?cid={{customer.primkey}}">{{customer.compname}}</a></td>
            <td><a href="/customeredit?id={{customer.primkey}}">編集</a> </td>
            <td><a href="/changeinfo?id={{customer.primkey}}&action=delcustomer" onclick='return confirm("お客様情報を削除します。宜しいですか？（同名のお客様情報は今後登録できなくなります")'>削除</a> </td>
        </tr>
        {% endfor %}
</table>
<br>
    <a href="/administrator">管理画面へ戻る</a>
    {% endblock %}
