{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>現場管理</title>
    {% endblock %}
    {% block body%}
<br>
<h1><a href="/genbakanri">現場登録・削除</a><br></h1>
    <h>今月稼働状況</h>&emsp;&emsp;&emsp;累計：{{leng}}人工
<table>
    <tr>
        <th>現場名</th>
    </tr>

    {% for site in runninggenba%}
    <tr>
        <td>
        <a href="/genbamonthinfo?id={{site.id}}">{{site.name}}</a>
        </td>
    </tr>
    {% endfor%}
</table>
<br>
    <a href="/administrator">管理画面へ戻る</a>

    {% endblock %}
