{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>従業員管理</title>
    {% endblock %}
    {% block body%}
    <a href="/newemployee">従業員新規追加</a>
<table>
    <tr>
        <th rowspan="2">従業員名</th>

        <th>ログインID</th>
        <th rowspan="2">編集</th>
        <th rowspan="2">削除</th>
    </tr>
    <tr>
        <th>パスワード</th>

    </tr>
    {% for i in employee%}
    <tr>
        <td rowspan="2"><a href="/eshukkin?id={{i.primkey}}">{{i.employeename}}</a></td>
        <td>{{i.loginid}}</td>
        <td rowspan="2"><a href="/empedit?id={{i.primkey}}">編集</a></td>
        <td rowspan="2"><a href="/changeinfo?id={{i.primkey}}&action=delemployee" onclick='return confirm("削除しますか？この従業員はログインできなくなります。また、この従業員の情報を参照できなくなります。")'>削除</a></td>
    </tr>
    <tr>
        <td>{{i.loginidpass}}</td>
    </tr>
    {% endfor%}

</table>
    <a href="/administrator">管理画面へ戻る</a>
    {% endblock %}
