{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>管理ページ</title>
    {% endblock %}

    {% block body%}
<div class="admin-menu-area">
    <div class="menu1 test"><a href="/attendancetoday" class="btn-square">本日出勤<br><span class="emoji">&#x1f4c5;</span></a></div>
    <div class="menu2"><a href="/employee" class="btn-square">従業員<br><span class="emoji">	&#x1f468;&#x200d;&#x1f4bb;</span></a></div>
    <div class="menu3"><a href="/genba" class="btn-square">現場情報<br><span class="emoji">&#x1f477;</span></a></div>
    <div class="menu4"><a href="/customer" class="btn-square">お客様情報<br>	<span class="emoji">&#x1f3e2;</span></a></div>
    <div class="menu5"><a href="/admininfo" class="btn-square">管理情報<br><span class="emoji">&#x1f527;</span></a></div>
</div>
    {% endblock %}
