{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>管理者専用ログイン</title>

    {% endblock %}
    {% block body%}
ログインしてください
<font color="red">{{errormessage}}</font>
<form action="/administrator" method="post" autocomplete="on">
    {% csrf_token %}
    <div class="loginform">
    <input type="text" name="ID" placeholder="LoginId" id="loginid">
    <input type="password" name="pass1" placeholder="Password1" id="password" >
    <input type="submit" value="ログイン" class="button" onclick="confirmcheck()">
    </div>
</form>

<script>
        var loginid=localStorage.getItem("kintaiadminloginid");
        document.getElementById("loginid").value=loginid;


        function confirmcheck(){
            var id=document.getElementById("loginid").value;
            var loginid=localStorage.getItem("kintaiadminloginid");
            if (id!=loginid){
                var result=window.confirm("IDとパスワードを保存しますか？");
                if(result){
                    localStorage.setItem("kintaiadminloginid",id);
                }
            }
            }

</script>
    {% endblock %}
