{% extends "ifbox/kintai_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title>従業員ログイン</title>
    {% endblock %}
    {% block body%}
    {% if message%}
    <font color="red"> {{message}}</font>
    {% else %}
<center><font size="0.1">ログインしてください</font></center>
    {% endif %}
        <form action="/emplogin" method="post">
                    {% csrf_token %}
            <div class="loginform">
            <input type="text" name="id">
                {% if usepass%}
            <input type="password" name="password">
                {%endif%}
            <br>
            <input type="submit" value="ログイン" class="submitbutton" height="500px">
            </div>
        </form>
    {% endblock %}
