{% extends "ifbox/admin_common.html"%}
    {% block header%}
    {% load static%}
    <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    <title></title>
    {% endblock %}
    {% block body%}
{{message}}
{%ifequal registok 1%}
{{ename}}さんのログイン情報を作成しました。以下の情報を{{ename}}さんに教えて下さい。<br>
勤怠管理システムにログインできるようになります。<br>
ログインID:<p id="loginid">{{loginid}}</p><button onclick='copyToClipboard("loginid")'>ログインIDをコピー</button><br>
パスワード:<p id="password">{{password}}</p><button onclick='copyToClipboard("password")'>パスワードをコピー</button>
<script>
        function copyToClipboard(target) {
            // コピー対象をJavaScript上で変数として定義する
            var copyTarget = document.getElementById("copyTarget").innerHTML;

            // コピー対象のテキストを選択する
            copyTarget.select();

            // 選択しているテキストをクリップボードにコピーする
            document.execCommand("Copy");

            // コピーをお知らせする
            alert("コピーしました！ : " + copyTarget.value);
        }
</script>
{%else%}
<form action="/newemployee" method="post">
        {% csrf_token %}
    従業員名<br><input type="text" name="ename"><br>
    ログインID<br><input type="text" name="loginid">
    <input type="submit" value="従業員新規追加" onclick='return confirm("従業員を新規追加します、よろしいですか？")'>
</form>
    <font color="red">ログインIDは重複できません。一人一人に対して適切なものを設定してください</font>
{%endifequal%}
    <a href="/employee">従業員一覧へ戻る</a>
    {% endblock %}
