<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static%}
        <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    {% block header%}
      {% endblock %}


</head>
<body>
<div class="admin-top">
    <div class="logo">
       <img height="100px" src="{%static "img/sky-logo.png"%}" >
    </div>
    <div class="sidemenu">
        <div class="side1"> <a href="/administrator" >管理ページトップへ</a></div>
        <div class="side2">
        {%if request.session.AdminUser%}
        <a href="/changeinfo?action=logout" onclick='return confirm("ログアウトします。よろしいですか？");'>ログアウト</a>
        {%else%}
        <a href="/administrator">ログイン</a>
        {%endif%}
        </div>

    </div>
</div>
    {% block body %}
      {% endblock %}
</body>
</html>