<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ifbox</title>
    {% load static%}
    <link rel = "stylesheet" href={%static "css\ifboxheader.css"%}>
</head>
<body>
<header>
    <div id="contactheader">
        <div class="pcHeader">
            <div class="contact">
                お見積り・ご相談 080-6518-67772
            </div>
            <div class="mail">
                <a href="/">お問い合わせ</a>
            </div>
        </div>
    </div>
    <div id="navheader">
        <div class="inner">
            <p class="logo"><a href="/"><img src="{%static "img/newlogo.png"%}"></a> </p>
            <nav>
                <ul id="globalnavi">
                    <li class="">konn</li>saoi
                    <li class="">aa</li>
                    <li class="">aaaa</li>
                    <li class="">aaaa</li>
                    <li class="">おいう</li>
                    <li class=""></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="imgarea">
    <img src="{%static "img/topcompany2.jpg"%}"></a>
    <div class="imgtext">
        当社にできることはなんでもございます。
        IT関係の仕事でしたらなんでも承ります。
    </div>
</div>
</body>
</html>