<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static%}
        <link rel = "stylesheet" href={%static "css\kintai.css"%}>
    {% block header%}
      {% endblock %}


</head>
<body>
<div class="kintai-top">
    {%if request.session.empuserid%}
    <font size="40">{{request.session.username}}</font>>さんログイン中
    <div class="kintai-right">
    <div class="kintai-righttop">
    <a href="/changeinfoemp?action=logout" onclick='return confirm("ログアウトします。よろしいですか？");'>ログアウト</a>
    {%else%}
    <a href="/emplogin">ログイン</a>
    {%endif%}
    </div>
    <div class="kintai-rightbottom">    <a href="/kintai" >トップ</a>
    </div>
    </div>
    </a>


</div>
    {% block body %}
      {% endblock %}
</body>
</html>