<!DOCTYPE html>
<html lang="ja">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        {% load static%}
        <link rel = "stylesheet" href={%static "css\header.css"%}>

        <div class="main-menu">
        <img src={%static "img/logo.png" %}>
        <input type="text" placeholder="仕事を探してみる">
        {%if  request.session.username is null%}
        <a href="/login">ログイン</a>
        {% else %}
        <a href="/mypage"> {{ request.session.username }}さんマイページ</a>
        /
        <a href="/?p=logout"> ログアウト</a>
        {% endif %}
            <a href="/"> TOP</a>
    <a href="{{request.META.HTTP_REFERER}}">戻る</a>
        <hr width="100%" color="skyblue">

          {% block header %}
          {% endblock %}
</head>
<body>
      {% block body %}
      {% endblock %}
</body>
</html>