<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static%}
    <link rel = "stylesheet" href={%static "css\ifbox.css"%}>

</head>
<body>
<hr width="100%" color="orange">
{% load static%}
    <div class="ifboxtop">
        <img src={%static "img/ifboxlogo.png" %} width=10% height=10% >
            <font face="HG創英角ﾎﾟｯﾌﾟ体" size="20">ITを用いて革命を目指す</font>
</div>
<hr width="100%" color="orange">
<div class="messagearea">
    当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。
    当社はいい会社です。当社はいい会社です。<br>当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。当社はいい会社です。

</div>
