 {% extends "base.html"%}
    {% load static %}
    {% block header %}
    <title>First Step</title>
    <link rel = "stylesheet" href={%static "css\mypage.css"%}>
    {% endblock %}
    {% block body %}
     <div class="mypagebody">
        <div class="menu">
            <nav>
                <li><a href="/friends?p=friends">友達一覧</a></li>
                <li><a href="/mypage/?p=mypage">閲覧履歴</a></li>
                <li>日記</li>
                <li>メッセージ<p class="numberCircle">80</p></li>
                <li></li>
            </nav>
            <div><a href="/mypage/?p=mypage">マイページ</a></div>
        </div>
        <div class="main-menu">
            <nav>
                <li><a href="/mypage/">友達一覧</a></li>
                <li><a href="/mypage/?p=mypage">閲覧履歴</a></li>
                <li>日記</li>
                <li>メッセージ<p class="numberCircle">80</p></li>
                <li></li>
            </nav>
        </div>
     </div>
     {% endblock %}