    {% extends "base.html"%}
    {% load static %}
    {% block header %}
    <title>メッセージ送信</title>
    <link rel = "stylesheet" href={%static "css\sendmessage.css"%}>
    {% endblock %}
    {% block body %}
    {{friendinfo.name}}さんへのメッセージ
    <form action="/message?friendid={{friendinfo.primkey}}" method="post">
        {% csrf_token %}
        <textarea name="message" cols="80" rows="5"></textarea>
        <br>
        <input type="submit" value="送信する">
    </form>

<table>
    <tr>
        <th>No</th>
        <th>名前</th>
        <th>日付</th>
    </tr>
    {% for i in mail %}
    <tr>
        <td><a href="/readmail?mailid={{i.primkey}}">閲覧</a></td>
        <td>{{i.friendid.name}}</td>
        <td>{{i.sended|date:"m-j H:i"}}</td>
    </tr>
    {% endfor %}
</table>



    {% endblock %}
