    {% extends "base.html"%}
    {% load static %}
    {% block header %}
    <title>First Step</title>
    <link rel = "stylesheet" href={%static "css\top.css"%}>
    {% endblock %}
    {% block body %}
        <header>header</header>
    <div class="topbody">
            <nav><article>今日も一日頑張りましょう</article></nav>
        <main>
        <div><a href="/mypage?p=mypage">マイページ</div>

        </main>
        <aside>right</aside>
    </div>
    <footer>footer</footer>

<div class="container">
    <div class="item1"></div>
    <div class="item2"></div>
</div>

    {% endblock %}
